
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #404040;
  color: white;
}

h1 {
  font-size: 20px;
}

li {
  float: left;
}

button {
  margin-top: 7px;
  width: 90px;
}

.justify-end {
  float: right;
  width: 100px;
}